@import camerainterfacesystem.db.Tables.Image
@import camerainterfacesystem.db.Tables.Preset
@import camerainterfacesystem.utilmodel.HoursImageCount
@(images: Option[Seq[Image]], preset: Preset, hour: Int, hours: Seq[HoursImageCount])
@main(List(
    "/web/css/series.css",
    "/web/js/series.js"
)) {
    <div id="preset-info">@(preset.displayname.getOrElse(preset.name))</div>
    <div id="hours-selection-wrapper" class="container">
        @for(hourGroup <- hours.grouped(6).toList){
            <div class="row">
            @for(hourEntry <- hourGroup){
                <div class="col-2">
                    <a href="@(s"/preset/${preset.id}?hour=${hourEntry.hour}")">
                        <button type="button" class="btn btn-primary hour-button">
                            godzina @(hourEntry.hour)
                        <br>
                            @(hourEntry.count)
                        </button>
                    </a>
                </div>
            }
            </div>
        }
    </div>

    @if(images.isDefined){
        @gallery(images.get.reverse)
    }

}