body {
    background-color: #ffe4c8;
}

input {
    background-color: #fcf3e2;
}

#image-counter {
    position: fixed;
    z-index: 999;
    height: fit-content;
    width: 100vw;
    top: 0;
    display: none;
}

#image-counter-text {
    opacity: 1;
    background-color: #DDBC95;

    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-size: x-large;
    color: #654732;

    border-radius: 70px;
    padding: 15px;

    cursor: pointer;
}

#image-counter-text:active {
    background-color: #d8ddd2;
}

#image-counter-value{
    font-weight: bold;
}


.select-image {
    width: 230px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.select-image-selected {
    outline: 10px solid rgba(89, 255, 0, 0.72);
}

.btn-selector {
    width: 100%;
}

#btn-selector-all {

}

#btn-selector-none {

}

#hours1row {
    margin-top: -20px;
}

#hours1 {
    margin-top: 30px;
}

.hours {
    width: 100%;
}

.hours > li {
/*    width: 40px;
    height: 40px;*/
/*    font-size: large;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;*/
/*    padding-right: 30px;*/
}

.makespace {
    margin-top: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {

    opacity: 1;

}