.link-image {
    width: 95vw;
}

#image-panel-container {
    margin: auto;
}

#slider-container {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.slider {
    height: 10vh;
}

#image-info {
    font-size: medium;
    text-align: center;
}

#preset-info {
    font-size: medium;
    text-align: center;
    margin: 30px;
}

.hour-button {
    width: 13vh;
    height: 7vh;
    margin: 10px;
}